@use "../../../util/helpers/sassHelpers.scss" as *;

.main-grid {
    display: grid;
    grid-template-columns: 88px repeat(3, 1fr);
    grid-template-rows: 65px 1fr;
    gap: 0px;
    @include width-min-max(670px, 754px);
    position: relative;
    align-items: start;
    align-self: center;
    width: 100%;
}

.main-flex {
    position: relative;
    display: flex;
    justify-content: center;
}

.main-grid__nav {
    position: sticky;
    z-index: 111111;
    grid-area: 1 / 1 / 6 / 2;
    background: $background;
    align-self: start;
    padding-top: 25px;
    border-top: 1px solid rgba($color: #979797, $alpha: 0.10000000149011612);
}

.main-grid__heading {
    position: sticky;
    z-index: 11111;
    grid-area: 1 / 2 / 2 / 5;
    background: $background;
    padding: 25px 0 16px;
    border-top: 1px solid rgba($color: #979797, $alpha: 0.10000000149011612);
    @include font-S-W(18px, $W-600);
    color: $dark-gray;
    line-height: 24px;
}

@media screen and (min-width: 1030px) {
    .main-grid {
        min-width: 972px;
        max-width: 1098px;
    }
}