@use "../../../util/helpers/sassHelpers.scss" as *;

.general-nav ul .li {
    list-style: none;

    a {
        position: relative;
        z-index: 11;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #8d8d8c;
        cursor: pointer;

        &:hover {
            color: $red;

            svg path {
                fill: $red;
            }
        }
    }
}

main > div > nav {
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .li a {
            @include font-S-W($Px-10, $W-600);
            line-height: 14px;
            height: 49.68px;
            padding: 5px 0;
            row-gap: 1.68px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

main > div > nav ul .li a.active {
    @extend %selected-nav;
    height: 63px;
    width: 63px;
}

main > div > nav ul .li a.active,
a.active {
    svg path {
        fill: $red;
    }

    span {
        color: $red;
    }
}
