//------------------------------------------------Sass variables
//------Font-family
$InterV: "Inter", sans-serif;

//------Font-weights
$W-400: 400;
$W-500: 500;
$W-600: 600;
$W-700: 700;
$W-900: 900;

//------PX values
$Px-10: 10px;
$Px-14: 14px;
$Px-15: 15px;
$Px-16: 16px;
$Px-20: 20px;

//------Colors
$red: #bb1e1e;
$blue: #1E71BB;
$white: #fff;
$background: #f2f2f2;
$light-gray: #F4F5F8;
$dark-gray: #1d1d1b;

//------------------------------------------------Mixins
@mixin font-S-W($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin border-and-radius ($border, $radius) {
    border: $border;
    border-radius: $radius;
}

@mixin width-min-max ($min, $max) {
    min-width: $min;
    max-width: $max;
}

@mixin height-min-max ($min, $max) {
    min-height: $min;
    max-height: $max;
}


//------------------------------------------------Placeholders
%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-and-wrap {
    display: flex;
    flex-wrap: wrap;
}

%positon-relative {
    position: relative;
}

%selected-nav {
    background-color: $white;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.16);
    padding: 0;
}