@use "../../../../util/helpers/sassHelpers.scss" as *;

.toggler-contaier {
    position: sticky;
    top: 121px;
    z-index: 111;
    display: flex;
    justify-content: center;
    padding: 25px 0 16px;
    background-color: $background;

    button, a {
        @include font-S-W($Px-16, $W-600);
        display: inline;
        line-height: 20px;
        padding: 10px 17.215px;
        border: none;
        background: none;

        &:hover {   
            cursor: pointer;
            color: $red;
        }
    }
}

.hide {
    display: none;
}

.mobile-toggler {
    color: $dark-gray;
}

.toggler-contaier .selected-mobile-toggler {
    color: $red;
    background: rgba(187, 30, 30, 0.1);
    border-radius: 20px;
}