@use "../../../../util/helpers/sassHelpers.scss" as *;

.widget-scroller_container {
    position: relative;
    @extend %flex-column;
    padding-right: 12px;
    overflow: auto;
    scrollbar-width: thin;
    @include height-min-max(300px, 431px);
    min-height: 300px;
    height: calc(100vh - 320px);

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: #c2c2c2;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

@media screen and (min-width: 722px) {
    .widget-scroller_container{
        height: auto;
    }
    
    .widget-scroller_container::-webkit-scrollbar {
        width: 4px;
    }
}
